<div class="container">

<!-- This is a get by default -->
<form action="/luisa"> 
  <input type="text" name="key_1">
  <input type="submit">
</form>

<form action="/george" method="POST">
  <input type="text" name="key_2" placeholder="hi">
  <input type="submit">
</form>

<form action="/usman" method="GET">
  <input type="radio" name="key_3" value="value_3">
  <input type="radio" name="key_3" value="value_4">
  <input type="submit">
</form>

</div>
